<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 id="">Après minuit aussi on a le droit de bien manger !</h1>
    <h2 class="text-muted"> Il n'y a pas que les kebabs et les pizzas dans la vie ! </h2>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-3 col-lg-offset-1 col-lg-3 col-sm-offset-1 col-sm-3 col-xs-offset-1 col-xs-3 thumbnail">
    <%= image_tag "pates.jpg" %>
  </div>
  <div class="col-md-offset-4 col-md-3 thumbnail">
    <%= image_tag "garam.jpg" %>
  </div>
</div>
<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
  <form action="http://herokuapp.us8.list-manage1.com/subscribe/post?u=19f3620c64a56263160d5065c&amp;id=ad9cd8bd96" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <label for="mce-EMAIL"></label>
    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_19f3620c64a56263160d5065c_ad9cd8bd96" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
  </form>
</div>

<!--End mc_embed_signup-->

<hr>

<footer>
  <p>&copy; La Salle du Temps 2014 </br>
    06 68 90 84 52
  </p>
</footer>
</div> <!-- /container -->