/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #271D40;
  font-family: 'Play', sans-serif;
}

.jumbotron {
	padding: 10px;
	font-family: 'Play', sans-serif;
}

.titre {
	font-size: 20px;
}

#sous-titre {
	color: #FF8F08;
}